# Ignore unused flutter platform and metadata files that are not pushed
android/
ios/
linux/
macos/
windows/
web/

# IDE and Metadata
.vscode/
.idea/
.metadata
*.iml
analysis_options.yaml

# Flutter/Dart
pubspec.lock
pubspec.yaml


*/*.gitignore
*/*/README.md
*/*/test/
*/test/

*/*/*/.gitignore
